<div class="grid-row pagination">
  <div class="column-quarter pagination">&nbsp;</div>
  <div class="column-half pagination">
    <div>
      {% if data.pagination.firstPage == data.pagination.page or data.pagination.page < 1 %}
        <<
      {% else %}
        <a href="?page={{ data.pagination.firstPage }}" class="pagination"> << </a>
      {% endif %}
      &nbsp; &nbsp;
      {% for i in range(data.pagination.rangeStart, data.pagination.rangeEnd) %}
        {% if data.pagination.page == i or (data.pagination.page < 1 and i == 1) %}
          {{ i }}
        {% else %}
          <a href="?page={{ i }}" class="pagination">{{ i }}</a>
        {% endif %}
      {% endfor %}
      &nbsp; &nbsp;
      {% if data.pagination.lastPage == data.pagination.page  or (data.pagination.page < 1 and data.pagination.lastPage == 1) %}
        >>
      {% else %}
        <a href="?page={{ data.pagination.lastPage }}" class="pagination"> >> </a>
      {% endif %}
    </div>
  </div>
  <div class="column-quarter">&nbsp;</div>
</div>
