<nav id="nav">
  <div class="navbar">
    <ul class="navbar__list-items">
      {% for urlObj, id, caption, extra_class, submenu in navbar %}
        {% set hrefAll = urlObj | getUrl(false, true) %}
        {% set href = urlObj | getUrl() %}
        {% if reqPath | getReverseSubsetMatch(hrefAll) %}
          {% for sUrlObj, s_id, s_caption, s_extra_class in submenu %}
            {% set s_href = sUrlObj | getUrl() %}
            {% if reqPath == s_href %}
              {% set s_class = "active" %}
            {% else %}
              {% set s_class = "" %}
            {% endif %}
            <li id="{{ s_id }}" class="{{ s_class }}">
              <a href="{{ s_href|e }}" class=" {{ s_class ~ ' ' ~ s_extra_class }}">{{ s_caption.label|e }}</a></li>
          {% endfor %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>
