{% extends "layout.html" %}

{% block page_title %}
    {{ app_title }} - {{ title }}
{% endblock %}

{% block inside_header %}
    {% include "partials/header.html" %}
{% endblock %}

{% block main_content %}
    <div class="grid-row">
        <div class="column-full">
            <h1 class="heading-xlarge">{{ title }}</h1>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-full">
            <h2 class="heading-large">Add a new item</h2>
            <p>You can add an new item to the dataset below.</p>
            <form method="POST" action="/v1/datasets/{{ data.datasetName }}/items">
                <input type='hidden' name='_csrf' value="{{ _csrf }}">
                {% for field in data.fields %}
                    <div class="form-group">
                        {% if field === 'id' and data.idType === 'SERIAL' %}
                            <p class="form-label">Id</p>
                            <span class="form-hint">The dataset's Id is being managed by the system and will be generated automatically.</span>
                        {% else %}
                            <label class="form-label" for="{{ field }}">{{ field }}</label>
                            <input class="form-control" id="{{ field }}" name="{{ field }}" type="text">
                        {% endif %}
                    </div>
                {% endfor %}


                <div class="form-group">
                    <input class="button" type="submit" value="Add item">
                </div>
            </form>
        </div>
    </div>

{% endblock %}
