{% extends "layout.html" %}

{% block page_title %}
  {{ app_title }} - {{ title }}
{% endblock %}

{% block inside_header %}
  {% include "partials/header.html" %}
{% endblock %}

{% block main_content %}

  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-xlarge">{{ title }}</h1>
    </div>
  </div>

  <h2 class="heading-large">Add a new {{title | lower}}</h2>
  <a href="/v1/datasets/{{data.datasetName}}/items/add">Click here to add a new record</a>

  <div class="grid-row">
    <div class="column-full">
      <h2 class="heading-large">{{ data.datasetName }} - items</h2>
      <p>The dataset contains the following items.</p>
      <p>The dataset Id is set to {{ data.idType }}.</p>
      <table>
        <thead>
        <tr>
          {% for field in data.fields[:6] %}
            <th>{{ field }}</th>
          {% endfor %}
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for row in data.rows %}
          <tr>
            {% for value in row[:6] %}
              <td>{{ value }}</td>
            {% endfor %}
            <td>
              <a class="button" href="/v1/datasets/{{ data.datasetName }}/items/{{ row[0] }}">Edit</a>
            </td>
          </tr>
        {% endfor %}
        <tbody>
      </table>
    </div>
  </div>

  {% include "partials/pagination.html" %}
{% endblock %}
