{% extends "layout.html" %}

{% block page_title %}
  {{ app_title }} - {{ title }}
{% endblock %}

{% block inside_header %}
  {% include "partials/header.html" %}
{% endblock %}

{% block main_content %}

  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-xlarge">{{ title }}</h1>
    </div>
  </div>

  <details>
    <summary><span class="summary">Search</span></summary>

    <div class="panel panel-border-narrow">
      <form method="GET">
      {% for field in datasetFields %}
        {% if field.datatype == 'INTEGER' %}
          <label class="form-label" for="search-{{field.name}}">{{field.name}}</label>
          <input class="form-control" id="search-{{field.name}}" type="number" name="{{field.name}}"> <br>
        {% elif field.datatype == 'VARCHAR' %}
          <label class="form-label" for="search-{{field.name}}">{{field.name}}</label>
          <input class="form-control" id="search-{{field.name}}" type="text" name="{{field.name}}"> <br>
        {% endif %}
      {% endfor %}
      <br>
      <button class="button" type="submit">Search</button>
      </form>
    </div>
  </details>

  {% if Authenticator.authorise('item', 'write') %}
    <h2 class="heading-large">Add a new {{title | lower}}</h2>
    <a href="/v1/datasets/{{data.datasetName}}/items/add">Click here to add a new record</a>
  {% endif %}

  <div class="grid-row">
    <div class="column-full">
      <h2 class="heading-large">{{ data.datasetName }} - items</h2>
      <p>The dataset contains the following items.</p>
      <p>The dataset Id is set to {{ data.idType }}.</p>
      <table>
        <thead>
        <tr>
          {% for field in data.fields.slice(0, 6) %}
            <th>{{ field }}</th>
          {% endfor %}
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for row in data.rows %}
          <tr>
            {% for value in row.slice(0, 6) %}
              {% set field = datasetFields[loop.index-2] %}
              <td>
                {% if field.foreignKey %}
                  {{ foreignKeys[field.foreignKey][value] }}
                {% else %}
                  {{ value }}
                {% endif %}
              </td>
            {% endfor %}
            <td>
              <a class="button" href="/v1/datasets/{{ data.datasetName }}/items/{{ row[0] }}">
                {% if Authenticator.authorise('item', 'write') %}
                  Edit
                {% elif Authenticator.authorise('item', 'read') %}
                  View
                {% endif %}
              </a>
            </td>
          </tr>
        {% endfor %}
        <tbody>
      </table>
    </div>
  </div>

  {% include "partials/pagination.html" %}
{% endblock %}
