{% extends "layout.html" %}

{% block page_title %}
  {{ app_title }} - {{ title }}
{% endblock %}

{% block inside_header %}
  {% include "partials/header.html" %}
{% endblock %}

{% block main_content %}
    <div class="grid-row">
      <div class="column-full">
        <h1 class="heading-xlarge">{{ title }}</h1>
      </div>
    </div>


    <div class="grid-row">
      <div class="column-full">
        <h2 class="heading-large">{{ data.datasetName }} - {{ data.itemId }}</h2>
        <p>The dataset contains the following items.</p>
        <table>
          <thead>
            <tr>
              <th>Field</th>
              <th>Value</th>
              <!-- <th>Manage</th> -->
            </tr>
          </thead>
          <tbody>
            {% for property in data.properties %}
              <tr>
                <td>{{ property.field }}</td>
                <td>{{ property.value }}</td>
                <!-- <td>
                    <a class="button" href="/v1/datasets/{{ data.datasetName }}/items/{{ data.itemId }}/properties/{{ property.field }}/update">Update</a>
                </td> -->
              </tr>
            {% endfor %}
          <tbody>
        </table>

      </div>
    </div>

    <!-- {% include "partials/pagination.html" %} -->
{% endblock %}
