{% extends "base/govuk_template.html" %}

{% block head %}
  <link rel="stylesheet" media="screen" href="/css/style.css"/>
{% endblock %}

{% block proposition_header %}
  {% include "partials/navbar.html" %}
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "partials/sub-navbar.html" %}
  {% include "partials/alpha-banner.html" %}
  {% include "partials/flash.html" %}
  {% block main_content %}{% endblock %}
</main>
{% endblock %}
{% block body_end %}
  <script src="{{ jsBundle }}" type="application/javascript"></script>
  {% block javascripts_end %}
  {% endblock %}
{% endblock %}
