/* line 5, assets/stylesheets/flash.scss */
.success-message {
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
  color: #28a197;
  display: block;
  clear: both;
  margin: 0;
  padding: 2px 0;
}

@media (min-width: 641px) {
  /* line 5, assets/stylesheets/flash.scss */
  .success-message {
    font-size: 19px;
    line-height: 1.31579;
  }
}

/* line 18, assets/stylesheets/flash.scss */
.success-summary {
  border: 4px solid #28a197;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px 10px;
}

@media (min-width: 641px) {
  /* line 18, assets/stylesheets/flash.scss */
  .success-summary {
    border: 5px solid #28a197;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 15px 15px;
  }
}

/* line 42, assets/stylesheets/flash.scss */
.success-summary:focus {
  outline: 3px solid #ffbf47;
}

/* line 46, assets/stylesheets/flash.scss */
.success-summary .success-summary-heading {
  margin-top: 0;
}

/* line 50, assets/stylesheets/flash.scss */
.success-summary p {
  margin-bottom: 10px;
}

/* line 54, assets/stylesheets/flash.scss */
.success-summary .success-summary-list {
  padding-left: 0;
}

@media (min-width: 641px) {
  /* line 57, assets/stylesheets/flash.scss */
  .success-summary .success-summary-list li {
    margin-bottom: 5px;
  }
}

/* line 64, assets/stylesheets/flash.scss */
.success-summary .success-summary-list a {
  color: #28a197;
  font-weight: bold;
  text-decoration: underline;
}

/* line 76, assets/stylesheets/flash.scss */
.info-message {
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
  color: #2b8cc4;
  display: block;
  clear: both;
  margin: 0;
  padding: 2px 0;
}

@media (min-width: 641px) {
  /* line 76, assets/stylesheets/flash.scss */
  .info-message {
    font-size: 19px;
    line-height: 1.31579;
  }
}

/* line 89, assets/stylesheets/flash.scss */
.info-summary {
  border: 4px solid #2b8cc4;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px 10px;
}

@media (min-width: 641px) {
  /* line 89, assets/stylesheets/flash.scss */
  .info-summary {
    border: 5px solid #2b8cc4;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 15px 15px;
  }
}

/* line 113, assets/stylesheets/flash.scss */
.info-summary:focus {
  outline: 3px solid #ffbf47;
}

/* line 117, assets/stylesheets/flash.scss */
.info-summary .info-summary-heading {
  margin-top: 0;
}

/* line 121, assets/stylesheets/flash.scss */
.info-summary p {
  margin-bottom: 10px;
}

/* line 125, assets/stylesheets/flash.scss */
.info-summary .info-summary-list {
  padding-left: 0;
}

@media (min-width: 641px) {
  /* line 128, assets/stylesheets/flash.scss */
  .info-summary .info-summary-list li {
    margin-bottom: 5px;
  }
}

/* line 135, assets/stylesheets/flash.scss */
.info-summary .info-summary-list a {
  color: #2b8cc4;
  font-weight: bold;
  text-decoration: underline;
}
